<div style="text-align:center">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Enter your currency</mat-label>
      <input matInput [(ngModel)]="searchValue" name="searchValue" required>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Search</button>
  </form>
  <div *ngIf="bitcoinValue !== null">
    <h2>The current Bitcoin value is: {{ bitcoinValue }}</h2>
  </div>
  <div *ngIf="errorMessage">
    <h2 style="color: red;">{{ errorMessage }}</h2>
  </div>
</div>
